@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  color: limegreen;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
